.image_block {
    width: 100%;
    height: 100%;
    /* background-image: url('/images/scale_1200.jpeg'); */
    background-image: url('/images/ai_1024x1024.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100%;
    overflow-y: none;
}

.wrapper {
    width: 100%;
    height: 100%;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.wrapper {
    scrollbar-width: var(--scrollbarWidth);
    scrollbar-color: var(--scrollbarThumbColor) var(--scrollbarBgColor);
  }

  .wrapper::-webkit-scrollbar {
    width: var(--scrollbarWidth);
  }

  .wrapper::-webkit-scrollbar-track {
    background: var(--scrollbarBgColor);
    border-radius: var(--scrollbarBorderRadius);
  }

  .wrapper::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumbColor);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
  }

.wrapper__content {
    flex: 1;
}

.wrapper__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.wrapper__ul {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgba(218,193,15,.8);
}

.wrapper__li {
    list-style-type: none;
    width: 100%;
}

.wrapper__a {
    text-decoration: none;
    color: #081C90;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: calc(100% - 8px * 2);
    min-height: 48px;
    padding: 8px;
}

.wrapper__icon_b {
    width: 100%;
    text-align: center;
    font-size: 2em;
}

.wrapper__icon_text {
    width: 100%;
    text-align: center;
}