.wrapper {
    width: calc(100% - 8px);
    margin: 0 auto;    
    max-width: 1024px;
}

.wrapper__content {
    background-color: rgba(218, 193, 15, 0.8);
    margin: 8px;
    border-radius: 8px;
    padding: 4px;
}