.tree__wrapper {
    padding: 8px 8px 0 8px;
}

.tree__ul {
    margin: 0;
    padding: 0;
    padding-left: 2em;
}

.tree__li {
    list-style-type:disc;
    margin: 0;
    padding: 0;
}

.tree__block {
    border: 1px solid black;
    padding: 8px;
    border-radius: 4px;
    border-color: var(--site-color);
    margin: 8px 0;
    background-color: #fff;
    position: relative;
}

.tree__input {
    border: 1px solid var(--site-color);
    display: block;
    width: calc(100% - 8px * 2 - 1px * 2);
    border-radius: 4px;
    padding: 8px;
}

.tree__input_b {
    width: calc(100% - 8px * 2);
    padding: 8px;
}

.tree__label {
    color: var(--site-color);
    font-weight: bold;
}

.tree__copy_b {
    text-align: right;
}

.tree__copy_b button {
    margin-left: 1em;
    border: 1px solid var(--site-color);
    background-color: var(--site-color);
    color: white;
    border-radius: 6px;
    transition: all ease 0.5s;
    width: 32px;
    height: 32px;
    font-size: 20px;
}

.tree__copy_b button:hover {
    background-color: transparent;
    color: var(--site-color);
}

.tree__out_wrapper {
    background-color: white;
    margin: 8px;
    border: 1px solid var(--site-color);
    border-radius: 4px;
    padding: 8px;
    overflow-x: scroll;
}

.tree__details {
    padding: 1em 0 0 0.5em;
}

.tree__summary {
    list-style-type: none;
    position: relative;
    padding-left: 1.3em;
}

.tree__summary::before {
    content: '+';
    position: absolute;
    top: 1px;
    left: 0;
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--site-color);
    color: white;
    border-radius: 50%;
    transition: all ease 0.5s;
    border: 1px solid var(--site-color);
}

.tree__details[open]>.tree__summary::before {
    content: '-';
    background-color: white;
    color: var(--site-color);
}

.tree__email {
    padding-left: 0.5em;
}


.tree__buttons {
    padding-left: 0.5em;
}

.form__button {
    color: white;
    background-color: var(--site-color);
    border: 1px solid var(--site-color);
    margin: 8px;
    border-radius: 50%;
    padding: 4px;
    transition: all ease 0.5s;
    font-size: 1.2em;
    width: 2em;
    height: 2em;
}

.form__button:hover {
    background-color: white;
    color: var(--site-color);
}

.form__button--telegram {
    background-color: #30a7df;
    border-color: #30a7df;
}

.form__button--telegram:hover {
    color: #30a7df;
}
